/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8b11a; /* Yellow background for the entire site */
}

/* Homepage styles */
.homepage-header {
    background-color: #dd7230; /* Orange header background */
    color: #fff;
    text-align: center;
    padding: 2rem;
    font-family: 'Brush Script MT';
    font-weight: 700;
    font-size: 40px;
}

.homepage-footer {
    background-color: #04030f; /* Dark footer background */
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.menu-section {
    background-color: #f5cf7c; /* Light grey background */
    border-radius: 16px; /* Rounded corners */
    padding: 20px; /* Spacing around content */
    max-width: 1000px; /* Maximum width of the section */
    margin: auto; /* Center the section */
    margin-bottom: 20px;
  }
  
  .menu-section h2 {
    text-align: center; /* Center the heading */
    color: #333; /* Dark grey color for the text */
    margin-bottom: 20px; /* Spacing below the heading */
    font-family: 'Brush Script MT';
    font-weight: 700;
    font-size: 50px;
  }
  
  .menu-table {
    width: 100%; /* Full width of the section */
    border-collapse: collapse; /* Remove space between table cells */
    table-layout: fixed;
  }
  
  .menu-table td {
    background-color: #f7e3bc; /* White background for table cells */
    border: 5px solid #ddd; /* Light grey border for table cells */
    padding: 10px; /* Spacing inside table cells */
    text-align: center; /* Center text in table cells */
    font-family: 'Courier New';
    font-weight: 700;
    font-size: 30px;
  }
  
  .menu-table button {
    background-color: #5cb85c; /* Green background for buttons */
    color: white; /* White text for buttons */
    padding: 10px 20px; /* Spacing inside buttons */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 18px; /* Larger font size for button text */
    font-family: 'Courier New';
    font-weight: 700;
  }
  
  .menu-table button:hover {
    background-color: #337633; /* Darker green on hover */
  }
  
  .menu-table p {
    margin: 5px 0; /* Spacing above and below the price */
    color: #666; /* Medium grey color for the price */
    font-size: 14px; /* Smaller font size for the price */
  }
  .menu-section img {
    width: auto; /* Adjust the width as needed */
    height: 200px; /* Maintain aspect ratio */
}  